/* ORACLES CSS */

.image-background {
    opacity: 50%;
}

progressbar > text {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.85;
    margin-bottom: 15px;
}

toastoverlay > toast > widget {
    margin-right: 0px;
}

toastoverlay > toast {
    background-color: rgba(0, 0, 0, 0.5);
}