/* ORACLES CSS */

.image-background {
    opacity: 50%;
}

progressbar > text {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.85;
    margin-bottom: 15px;
}

toastoverlay > toast > widget {
    margin-right: 0px;
}

toastoverlay > toast {
    background-color: rgba(0, 0, 0, 0.5);
}

.main-menu {
    margin: 50px;
}

.launcher-news {
    background-color: rgba(133, 133, 133, 0.2);
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
}

/* STOP ACTION */

.stop-action {
    color: white;
    background-color: rgb(253, 88, 88);
}

.stop-action:hover {
    background-color: rgb(253, 108, 108);
}

.stop-action:active {
    background-color: rgb(213, 68, 68);
}

/* ALPHA VERSION */

.alpha-version {
    color: rgb(255, 138, 130);
    background-color: rgba(255, 138, 130, 0.2);
    border-radius: 25px;
}

.beta-version {
    color: rgb(255, 222, 130);
    background-color: rgba(255, 222, 130, 0.2);
    border-radius: 25px;
}

.release-version {
    color: rgb(130, 188, 255);
    background-color: rgba(130, 188, 255, 0.2);
    border-radius: 25px;
}

.game-version {
    color: rgb(106, 174, 251);
    background-color: rgba(41, 75, 114, 0.5);
    border-radius: 25px;
}

.action-bar {
    background-color: rgba(0, 0, 0, 0.15);
}